
.wind-marker {
  color: #fff;

  .f0 {
    color: rgb(255, 255, 204)
  }

  .f1 {
    color: rgb(255, 237, 160)
  }

  .f2 {
    color: rgb(254, 217, 118)
  }

  .f3 {
    color: rgb(254, 178, 76)
  }

  .f4 {
    color: rgb(253, 141, 60)
  }

  .f5 {
    color: rgb(252, 78, 42)
  }

  .f6 {
    color: rgb(227, 26, 28)
  }

  .f7 {
    color: rgb(189, 0, 38)
  }

  .f8 {
    color: rgb(128, 0, 38)
  }
}

.boat-marker {
  div {
    width: 20px;
    height: 20px;
    background: url(/assets/images/icon-boat-white.png) center no-repeat;
    opacity: 0.8;
  }
  &.user-boat-marker div {
    background-image: url(/assets/images/icon-boat-20.png);
    opacity: 0.8;
  }
  &.boat-marker-focused div {
    opacity: 1;
  }
}

.boat-route {
  stroke: white;
  stroke-width: 1;
  stroke-opacity: 0.8;

  &.user-boat-route {
    stroke: black;
  }
}

.routing-sim-path {
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.8;
  stroke-dasharray: 2,3;
}

.routing-sim-points {
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 0.5;
  fill: black;
  fill-opacity: 0.8;

}

.horizontal-control {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;

  a, span.map-btn {
    background-color: #fff;
    border-right: 1px solid #ccc;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: #f4f4f4;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right: none;
    }

    &.btn-icon {
      width: 26px;
      padding: 0;
      span {
        width: 16px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &.btn-locate-user span {
      background-image: url(/assets/images/icon-locate.png);
    }

    &.btn-refresh span {
      background-image: url(/assets/images/icon-refresh.png);
    }

    &.forecast-term {
      color: slategrey;
      &.current {
        background-color: #f9f9f9;
        box-shadow: 0 1px 5px rgba(0,0,0,0.25) inset;
        color: black;
      }
    }

    &.btn-loading {
      cursor: default;
      span {
        opacity: 0.6;
        @include rotate(1.25s);
      }
    }
  }
  span {
    color: slategrey;
  }
}