.sidebar table {
  width: 100%;
  
  td, th {
    padding: 8px;
  }

  th {
    text-align: left;
  }
}


.boat-data-table {
  strong {
    color: $orange;
  }

  .btn-direction {
    display: inline-block;
    color: #ffffff;
    background-color: #424242;
    padding: 1px 5px;
    border-radius: 3px;

    &:hover {
      background-color: #2d2d2d;
    }
  }

  .sim-direction {
    display: inline-block;
    width: 35px;
    text-align: center;
  }
}

.boat-control-wheel {
  text-align: center;

  svg {
    cursor: move;
    background: transparent url(/assets/images/windrose.png) no-repeat 20px 20px;
  }

  .wind-marker {
    fill: #D0011B;
  }

  .boat {
    fill: #F6A623;
  }

  .wind-arc {
    fill: #ccc;
  }
}

.boat-speed {
  background-color: #666;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;

  div {
    height: 5px;
    background-color: #2a9fd6;
    transition: width 0.6s ease;
    border-radius: 4px;
  }
}

.boat-actions {
  margin-top: 15px;
  text-align: center;

  .btn-submit {
    color: #ffffff;
    background-color: $blue;

    &:hover:not([disabled]) {
      background-color: $darkerBlue;
    }
  }

  .btn-cancel {
    background-color: transparent;
    color: $blue;

    &:hover:not([disabled]) {
      color: #EEE;
    }
  }

  .btn-submit[disabled], .btn-cancel[disabled] {
    cursor: auto;
  }
}

table.ranking-table {

  td, th {
    padding: 4px;
  }
}
