
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:500,700,900);

$blue: #2a9fd6;
$darkerBlue: #2386b4;
$orange: #ff8800;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, button, input, select, textarea, .leaflet-container {
  font-size: 14px;
  font-family: "Maven pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  background-color: #111;
  color: #CCC;
  display: flex;
  height: 100%;
}

#controlSidebar, #infoSidebar {
  width: 280px;
  padding: 15px;
  overflow: scroll;
}

#map {
  flex: 1;
  color: black;
}

a {
  color: $blue;
  text-decoration: none;
}


@import 'rotate';
@import 'map';
@import 'sidebars';

