@import url(http://fonts.googleapis.com/css?family=Maven+Pro:500,700,900);
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, button, input, select, textarea, .leaflet-container {
  font-size: 14px;
  font-family: "Maven pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#wrapper {
  background-color: #111;
  color: #CCC;
  display: flex;
  height: 100%;
}

#controlSidebar, #infoSidebar {
  width: 280px;
  padding: 15px;
  overflow: scroll;
}

#map {
  flex: 1;
  color: black;
}

a {
  color: #2a9fd6;
  text-decoration: none;
}

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotating-function {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.wind-marker {
  color: #fff;
}
.wind-marker .f0 {
  color: #ffffcc;
}
.wind-marker .f1 {
  color: #ffeda0;
}
.wind-marker .f2 {
  color: #fed976;
}
.wind-marker .f3 {
  color: #feb24c;
}
.wind-marker .f4 {
  color: #fd8d3c;
}
.wind-marker .f5 {
  color: #fc4e2a;
}
.wind-marker .f6 {
  color: #e31a1c;
}
.wind-marker .f7 {
  color: #bd0026;
}
.wind-marker .f8 {
  color: #800026;
}

.boat-marker div {
  width: 20px;
  height: 20px;
  background: url(/assets/images/icon-boat-white.png) center no-repeat;
  opacity: 0.8;
}
.boat-marker.user-boat-marker div {
  background-image: url(/assets/images/icon-boat-20.png);
  opacity: 0.8;
}
.boat-marker.boat-marker-focused div {
  opacity: 1;
}

.boat-route {
  stroke: white;
  stroke-width: 1;
  stroke-opacity: 0.8;
}
.boat-route.user-boat-route {
  stroke: black;
}

.routing-sim-path {
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.8;
  stroke-dasharray: 2,3;
}

.routing-sim-points {
  stroke: white;
  stroke-width: 2;
  stroke-opacity: 0.5;
  fill: black;
  fill-opacity: 0.8;
}

.horizontal-control {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}
.horizontal-control a, .horizontal-control span.map-btn {
  background-color: #fff;
  border-right: 1px solid #ccc;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
}
.horizontal-control a:hover, .horizontal-control span.map-btn:hover {
  background-color: #f4f4f4;
}
.horizontal-control a:first-child, .horizontal-control span.map-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.horizontal-control a:last-child, .horizontal-control span.map-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: none;
}
.horizontal-control a.btn-icon, .horizontal-control span.map-btn.btn-icon {
  width: 26px;
  padding: 0;
}
.horizontal-control a.btn-icon span, .horizontal-control span.map-btn.btn-icon span {
  width: 16px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}
.horizontal-control a.btn-locate-user span, .horizontal-control span.map-btn.btn-locate-user span {
  background-image: url(/assets/images/icon-locate.png);
}
.horizontal-control a.btn-refresh span, .horizontal-control span.map-btn.btn-refresh span {
  background-image: url(/assets/images/icon-refresh.png);
}
.horizontal-control a.forecast-term, .horizontal-control span.map-btn.forecast-term {
  color: slategrey;
}
.horizontal-control a.forecast-term.current, .horizontal-control span.map-btn.forecast-term.current {
  background-color: #f9f9f9;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset;
  color: black;
}
.horizontal-control a.btn-loading, .horizontal-control span.map-btn.btn-loading {
  cursor: default;
}
.horizontal-control a.btn-loading span, .horizontal-control span.map-btn.btn-loading span {
  opacity: 0.6;
  -webkit-animation: rotating-function 1.25s linear infinite;
  -moz-animation: rotating-function 1.25s linear infinite;
  -ms-animation: rotating-function 1.25s linear infinite;
  -o-animation: rotating-function 1.25s linear infinite;
  animation: rotating-function 1.25s linear infinite;
}
.horizontal-control span {
  color: slategrey;
}

.sidebar table {
  width: 100%;
}
.sidebar table td, .sidebar table th {
  padding: 8px;
}
.sidebar table th {
  text-align: left;
}

.boat-data-table strong {
  color: #ff8800;
}
.boat-data-table .btn-direction {
  display: inline-block;
  color: #ffffff;
  background-color: #424242;
  padding: 1px 5px;
  border-radius: 3px;
}
.boat-data-table .btn-direction:hover {
  background-color: #2d2d2d;
}
.boat-data-table .sim-direction {
  display: inline-block;
  width: 35px;
  text-align: center;
}

.boat-control-wheel {
  text-align: center;
}
.boat-control-wheel svg {
  cursor: move;
  background: transparent url(/assets/images/windrose.png) no-repeat 20px 20px;
}
.boat-control-wheel .wind-marker {
  fill: #D0011B;
}
.boat-control-wheel .boat {
  fill: #F6A623;
}
.boat-control-wheel .wind-arc {
  fill: #ccc;
}

.boat-speed {
  background-color: #666;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
}
.boat-speed div {
  height: 5px;
  background-color: #2a9fd6;
  transition: width 0.6s ease;
  border-radius: 4px;
}

.boat-actions {
  margin-top: 15px;
  text-align: center;
}
.boat-actions .btn-submit {
  color: #ffffff;
  background-color: #2a9fd6;
}
.boat-actions .btn-submit:hover:not([disabled]) {
  background-color: #2386b4;
}
.boat-actions .btn-cancel {
  background-color: transparent;
  color: #2a9fd6;
}
.boat-actions .btn-cancel:hover:not([disabled]) {
  color: #EEE;
}
.boat-actions .btn-submit[disabled], .boat-actions .btn-cancel[disabled] {
  cursor: auto;
}

table.ranking-table td, table.ranking-table th {
  padding: 4px;
}
