//@import "_variables";
//@import "_bootswatch";

@import url(http://fonts.googleapis.com/css?family=Maven+Pro:500,700,900);

@import "_rotating";

//@orange: #fa4f47;
//@lightOrange: #ff6e68;

html, body { height: 100%; margin: 0 }

body {
  background-color: #060606;
  color: #888888;
}

* {
  font-size: 14px;
  font-family: "Maven pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom container */
.console {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.console, .console > .row, .controls, .map-col, #map {
  height: 100%;
}

.controls {
  color: #c8c8c8;
}

//.boat-name {
//  margin-top: 10px;
//  text-align: center;
//  text-transform: uppercase;
//  font-size: 21px;
//  background-color: #222222;
//  border: 1px solid #282828;
//}

#boatMoveDirection {
  text-align: center;
  font-weight: bold;
  color: black;
//  font-size: 16px;
}

#boatSpeedBar {
  height: 5px;
}

#boatTurn {
  text-align: center;
}

.map-col {
//  padding: 30px;
}

#map {
  color: black;
  margin-left: -15px;
  margin-right: -15px;
}

.wind-marker {
  color: #fff;

  .f0 {
    color: rgb(255, 255, 204)
  }

  .f1 {
    color: rgb(255, 237, 160)
  }

  .f2 {
    color: rgb(254, 217, 118)
  }

  .f3 {
    color: rgb(254, 178, 76)
  }

  .f4 {
    color: rgb(253, 141, 60)
  }

  .f5 {
    color: rgb(252, 78, 42)
  }

  .f6 {
    color: rgb(227, 26, 28)
  }

  .f7 {
    color: rgb(189, 0, 38)
  }

  .f8 {
    color: rgb(128, 0, 38)
  }
}

.boat-marker {
  div {
    width: 20px;
    height: 20px;
    background: url(/assets/images/icon-boat-white.png) center no-repeat;
    opacity: 0.5;
  }
  &.user-boat-marker div {
    background-image: url(/assets/images/icon-boat-20.png);
    opacity: 0.7;
  }
}

.horizontal-control {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;

  a, span.map-btn {
    background-color: #fff;
    border-right: 1px solid #ccc;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;

    &:hover {
      background-color: #f4f4f4;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &:last-child {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      border-right: none;
    }

    &.btn-icon {
      width: 26px;
      padding: 0;
      span {
        width: 16px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &.btn-locate-user span {
      background-image: url(/assets/images/icon-locate.png);
    }

    &.btn-refresh span {
      background-image: url(/assets/images/icon-refresh.png);
    }

    &.forecast-term {
      color: slategrey;
      &.current {
        background-color: #f9f9f9;
        box-shadow: 0 1px 5px rgba(0,0,0,0.25) inset;
        color: black;
      }
    }

    &.btn-loading {
      cursor: default;
      span {
        opacity: 0.6;
        .rotating(1.25s);
      }
    }
  }
  span {
    color: slategrey;
  }
}

#ranking {
  height: 50%;
  overflow: scroll;
}

table.ranking {
  tbody tr {
    cursor: pointer;
  }
}

#boatControl {
  cursor: move;
  text-align: center;
}

#simWindAngleArc {
  fill: #ccc;
}

#simWindAngleText {
  fill: #666;
  font-weight: bold;
  font-size: 24px;
}

#boatControlSlider text {
  fill: #fff;
}



.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}