@(races: Seq[Race])(implicit request: RequestHeader)

@main("Race choice") {
<ul class="nav nav-pills">
    @for(race <- races) {
        <li><a href="@{routes.Races.console(race.id)}">@{race.name}</a></li>
    }
</ul>
}