@(loginForm: Form[(String, String)])(implicit request: RequestHeader)

@import helper._

@main("Login") {

    <div class="container">

        <form class="form-signin" role="form" method="POST">
            <h2 class="form-signin-heading">Please sign in</h2>
            <input type="text" name="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div> <!-- /container -->

}
